workspace/Tabalho2/src/br/com/trabalho1/schemas/Diretor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.campeonato.org" 
	xmlns:tns="http://www.campeonato.org" 
	elementFormDefault="qualified">
	
    <xs:element name="Diretor" maxOccurs="unbounded">
    	<xs:complexType>
        	<xs:sequence>
            	<xs:element name="id" type="xs:integer"/>
                <xs:element name="nome" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</schema>