workspace/Tabalho2/src/br/com/trabalho2/schemas/Campeonato.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:include schemaLocation="ClassificacaoGeral.xsd"/>
    <xs:include schemaLocation="Rodada.xsd"/>
    
    <xs:element name="Campeonato">
    	<xs:complexType>
        	<xs:sequence>
            	<xs:element name="id" type="xs:integer"/>
                <xs:element name="nome" type="xs:string"/>
                <xs:element name="ano" type="xs:integer"/>
                <xs:element name="nroClubes" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>