workspace/Tabalho2/src/br/com/trabalho2/schemas/Clube.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.campeonato.org" 
	xmlns:tns="http://www.campeonato.org" 
	elementFormDefault="qualified">
	
	<xs:include schemaLocation="Jogador.xsd"/>
	
    <xs:element name="Clube">
    	<xs:complexType>
        	<xs:sequence>
	            <xs:element name="id" type="xs:integer"/>
	            <xs:element name="nome" type="xs:string"/>
	            <xs:element name="jogadores" maxOccurs="16">
   					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Jogador" maxOccurs="unbounded"/>
						</xs:sequence>        			
	    			</xs:complexType>        	
	            </xs:element>
            </xs:sequence>
       	</xs:complexType>
     </xs:element>
	
</xs:schema>