workspace/Tabalho2/src/br/com/trabalho2/schemas/Jogador.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Posicao.xsd"/>
    <xs:element name="Jogador">
   		<xs:complexType>
        	<xs:sequence>
            	<xs:element name="id" type="xs:integer"/>
                <xs:element name="nome" type="xs:string"/>
				<xs:element name="posicoes" minOccurs="1" maxOccurs="1">
   					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Posicao" minOccurs="1" maxOccurs="unbounded"/>
						</xs:sequence>        			
	    			</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
     </xs:element>
</xs:schema>