workspace/Tabalho2/src/br/com/trabalho2/schemas/Jogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
	<xs:include schemaLocation="Clube.xsd"/>
    
   	<xs:element name="Jogo">
       <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="Clubes" maxOccurs="2">
                	<xs:complexType>
                		<xs:sequence>
                			<xs:element ref="Clube"/>
                		</xs:sequence>
                	</xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
   	</xs:element>
</xs:schema>